.DS_Store
Simlar.xcodeproj/xcuserdata/
Simlar.xcworkspace/xcuserdata/
Simlar.xcworkspace/xcshareddata/
Pods/Pods.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/xcshareddata/

build/
distribute/
liblinphone_build_*/
